<form action='/articles' method='POST'>
    <label for="Article Title">Article Title:</label>
    <input id="title" type="text" name="title">
    <label for="Article Content">Article Content:</label>
    <input id="content" type="text" name="content">
    r<button type="submit" value="submit">Submit</button>
</form>